.main_right .group_1{
	width:100%;
	margin:0 auto;
	text-align:center;
}

.main_right .group_1 img {
	vertical-align:top;
	padding:20px 0 13px 0;
}

.main_right .group_1 p {
	text-align:left;
}

.main_right .group_1 p.text_right {
	text-align: right;
	font-style: italic;
}

.main_right .group_2 {
	width:638px;
	clear:both;
	margin:34px auto 0 auto;
	padding:24px 20px 188px 20px;
	border:1px solid #c2c2c2;
}

.main_right .group_2 h4 {
	color:#1a1a1a;
	font-weight:normal;
}

.main_right .group_2 h6 {
	margin:26px 0 29px 0;
	padding:0;
	font-weight:normal;
}

.main_right .group_2 div {
	width:100%;
	clear:both;
	margin:0 auto;
}

dl {
	display:block;
	float:left;
	font-size:14px;
	line-height:22px;
	margin:0;
	padding:0;
}
dl.w1 {
	width:178px;
}
dl.w2 {
	width:196px;
	margin:0 40px 0 27px;
}
dl.w3 {
	width:196px;
}
dd {
	width:100%;
	padding-top:12px;
	margin:0;
}
dt {
	width:100%;
	font-weight:bold;
	margin:0;
	padding-bottom:10px;
	background:url(../images/line_dl.jpg) no-repeat;
	background-position:0 100%;
}

span.text_uppercase {
	text-transform:uppercase;
}

hr.line {
	width:100%;
	clear:both;
	height:2px;
	background:#d8d8d8;
	border:0;
	display:none;
}

h4 {
	text-align:left;
}

.main_right {
	margin-bottom:87px;
}

@media screen and (min-width:239px)and (max-width:750px) {
.common_contain .main_cotain .main_left {
	width:90%;
	clear:both;
	margin:0 auto;
}

h4 {
    font-size:180%;
	margin:1% auto 1% auto;
}

h6 {
	font-size:160%;
	line-height:160%;
}

.main_right .group_2 h6 {
	margin:3% 0 3% 0;
}

.main_right .group_1 {
	width:90%;
	clear:both;
}

hr.line {
	display:block;
	margin:3% 0 3% 0;
}

.main_right .group_1 img {
	width:100%;
	height:auto;
	padding:2% 0 2% 0;
}

.main_right .group_2 {
	width:90%;
	clear:both;
	border:0;
	margin:0 auto;
	padding:0;
	
}

dl {
	font-size:120%;
	line-height:140%;
}

dl.w1 {
	width:100%;
	clear:both;
	margin: 0;
}

dl.w2 {
	width:100%;
	clear:both;
	margin:1% 0 3.5% 0;
}

dl.w3 {
	width:100%;
	clear:both;
	margin-bottom:5%;
}

dt {
	background:url(../images/line_dl.jpg) repeat-x;
	background-position:0 100%;
	padding-bottom:1%;
}

dd {
	padding-top:1%;
}
}

@media screen and (min-width:385px)and (max-width:480px) {
h4 {
	font-size:160%;
}

h6 {
	font-size:140%;
}

dl {
	font-size:110%;
}

dl.w2 {
	margin:1% 0 5% 0;
}

hr.line {
	margin:5% 0 5% 0;
}

dl.w3 {
	margin-bottom:7%;
}
}

@media screen and (min-width:239px)and (max-width:384px) {
h4 {
	font-size:160%;
}

h6 {
	font-size:140%;
}

dl {
	font-size:110%;
}

dl.w2 {
	margin:1% 0 5% 0;
}

hr.line {
	margin:6% 0 6% 0;
}

dl.w3 {
	margin-bottom:7%;
}

.main_right .group_1 p.text_right {
	font-size:100% !important;
}
}

@media screen and (min-width:239px) and (max-width:300px) {
dt, dd {
	font-size:90%;
}
.main_right .group_1 p.text_right {
	font-size:90% !important;
}
}