.main_right .group1{
	width:100%;
	margin:0 auto;
}

.main_right .group2{
	width:100%;
	margin:0 auto;
}

h9 {
	color:#808080;
	font-weight:normal;
	margin:0;
	padding:0
}

h6 {
	margin:0;
	padding:0;
}

h6.borderBottom {
	background:url(../images/lineBottom.jpg) no-repeat;
	background-position:0 100%;
	padding-bottom:20px;
	margin:27px 0 23px 0;
}

h6.borderBottom span {
	display:inline-block;
	padding-left:6px;
}
.group_text_img {
	width:100%;
	clear:both;
}

.group_text_img p{
	margin:0;
	padding:0;
}

.group_text_img1 p {
	margin-top:19px;
}

.group_text_img2 p {
	margin-top:19px;
}

.group_text_img3 p {
	margin-top:19px;
}

.group_text_img2 {
	padding-top:54px;
	text-align:right;
	float:right;
}

.group_text_img3 {
	padding-top:54px;
}

.group_img {
	width:282px;
	float:left;
	vertical-align:top;
}

.img1 {
	
}

.img2 {
	float:right;
	margin-left:18px;
}

.img3 {
	margin-bottom:40px;
}

.img4 {
	margin-bottom:33px;
	float:right;
	margin-left:18px;
}

.group_text {
	width:380px;
	float:right;
	vertical-align:top;
}

a.link_group1 {
	display:block;
	width:438px;
	clear:both;
	margin:0 auto;
	font-size:18px;
	line-height:18px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	text-align:center;
	padding:14px 0 11px 0;
	background:#09b7ef url(../images/icon_arrow.png) no-repeat;
	background-position:96% 15px;
	color:#fff;
	margin: 0 auto 115px auto; 
}

a.link_group2 {
	display:block;
	width:438px;
	clear:both;
	margin:0 auto;
	font-size:18px;
	line-height:18px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	text-align:center;
	padding:14px 0 11px 0;
	background:#09b7ef url(../images/icon_arrow.png) no-repeat;
	background-position:96% 15px;
	color:#fff;
	margin: 0 auto 69px auto; 
}

hr.line {
	width:100%;
	clear:both;
	background:#d8d8d8;
	height:1px;
	border:0;
	margin-bottom:50px;
}

.main_right .group3 {
	width:100%;
	clear:both;
}

.main_right .group3 p.text_bold {
	padding-top:21px;
	margin:0;
}

.main_right .group3 p.text_bold span.dot_blod {
	display:inline-block;
	background:url(../../../images/dot_blod.jpg) no-repeat;
	background-position:0 8px;
	padding-left:10px; 
	margin-left:0;
	font-weight:bold;
}

.main_right .group3 span {
	display:inline-block;
	font-weight:normal;
	margin-left:30px;
}

.main_right .group3 a {
	color:#0078a3;
	text-decoration:underline;
}

.main_right .group3 a:hover {
	text-decoration:none;
}

.main_right {
	margin-bottom:83px;
}

@media screen and (min-width:239px)and (max-width:750px) {
.common_contain .main_cotain .main_left {
	width:90%;
	clear:both;
	margin:0 auto;
}

h4 {
    font-size:180%;
	width:90%;
	clear:both;
	display:block;
	margin:0 auto 4% auto;
}

h4.title2 {
	width:100%;
	margin:0;
}

h6 {
	font-size:160%;
	line-height:160%;
	margin:0; 
}

h6.borderBottom {
	background: url(../images/lineBottom.jpg) repeat-x;
	background-position:0 100%;
	margin:0 0 2% 0;
	padding-bottom:1%;
	clear:both;
	display:block;
}

h9 {
	font-size:100%;
}

.main_right .group1 {
	width:90%;
}

.main_right .group2 {
	width:90%;
}

.main_right .group3 {
	width:90%;
	margin:0 auto 6% auto;
}

.group_img {
	width:100%;
	clear:both;
	float:none !important;
	margin-bottom:2%;
}
.group_text {
	width:100%;
	clear:both;
	float:none !important;
}

.group_img img {
	width:100%;
	height:auto;
}

.img1 {
	width:100%;
}

.img2  {
	width:100%;
	margin-left:0;
}

.img3  {
	width:100%;
	clear:both;
	margin-bottom:2%;
}

.img4  {
	width:100%;
	margin-left:0;
}

.group_text_img2 {
	text-align:left;
	padding-top:5%;
}

.group_text_img3 {
	padding-top:5%;
}

a.link_group1, a.link_group2 {
	display:block;
	clear:both;
	font-size:130%;
	line-height:130%;
	width:90%;
	padding:2% 0 1.5% 0;
	margin:4% auto 5% auto;
	background-position:96% 50%;
}

.main_right .group3 p.text_bold {
	display:block;
	clear:both;
	padding-top:2%;
}

hr.line {
	margin-bottom:4%;
}

.main_right .group3 p.text_bold span.dot_blod {
	background-position:0 10px;
}
.main_right .group3 span {
	margin-left:4%;
}
}

@media screen and (min-width:668px) and (max-width:736px) { 
a.link_group1, a.link_group2 {
	width:90%;
}
}

@media screen and (min-width:569px) and (max-width:667px) { 
a.link_group1, a.link_group2 {
	width:100%;
}
}

@media screen and (min-width:520px) and (max-width:568px) { 
a.link_group1, a.link_group2 {
	width:100%;
	font-size:120%;
	margin:5% auto 6% auto;
}
}

@media screen and (min-width:481px) and (max-width:519px) { 
a.link_group1, a.link_group2 {
	width:auto;
	font-size:120%;
	margin:5% auto 6% auto;
	padding:3% 10% 2.5% 10%;
}
}

@media screen and (min-width:385px) and (max-width:480px) { 
h4 {
	font-size:160%;
}

h6 {
	font-size:140%;
}

h6.borderBottom {
	margin:0 0 3% 0;
}

h9 {
    font-size: 95%;
}

a.link_group1, a.link_group2 {
	width:auto;
	font-size:120%;
	margin:7% auto 8% auto;
	padding:3% 10% 2.5% 10%;
}

}

@media screen and (min-width:239px) and (max-width:384px) { 
h4 {
	font-size:160%;
}

h6 {
	font-size:140%;
}

h6.borderBottom {
	margin:0 0 4% 0;
}

h9 {
    font-size: 95%;
}

a.link_group1, a.link_group2 {
	width:auto;
	font-size:120%;
	margin:8% auto 9% auto;
	padding:3% 10% 2.5% 10%;
}

hr.line {
    margin-bottom: 6%;
}

}

@media screen and (min-width:239px) and (max-width:300px) {
a.link_group1, a.link_group2 {
	font-size:100%;
}
}





