dl {
	width:100%;
	clear:both;
	display:block;
}

dt {
	margin:0;
	float:left;
	display:inline-block;
	width:255px;
	margin:0 20px 0 0;
	padding-bottom:16px;
	text-align:right;
	background:url(../images/bg_dot.jpg);
	font-size:18px;
	line-height:24px;
	font-weight:normal;
}

dd {
	margin:0;
	display:inline-block;
	float:left;
	width:405px;
	font-size:18px;
	line-height:24px;
	font-weight:normal;
	display:block;
	margin:0;
	padding-bottom:16px;
	color:#777777;
}
dt.first, dd.first {
	background:none;
	height:auto;
	padding-bottom:12px;
}

dt div {
	padding-right:21px;
}

dt div.paddingTop1, dd div.paddingTop1 {
	line-height:24px;
	padding-top:14px;
}

dt div.paddingTop3{
	float:right;
}

dt div.paddingTop4 {
	float:right;
}

dt div.paddingTop5 span {
	display:block;
}

dt.end {
	clear:left;
}

dt.Height1, dd.Height1 {
	height:auto;
	padding-bottom:0
}

dt.Height2, dd.Height2 {
	height:60px;
}

span.color_red {
	color:#e44242;
}
h4 {
	margin-bottom:20px;
}
h5 {
	display:block;
	clear:both;
	font-size:20px;
	font-weight:normal;
	margin:0;
	padding-top:34px;
	padding-bottom:8px;
}

a.btn_confirm {
	margin:34px auto 94px auto;
	font-size:18px;
	font-weight:normal;
	line-height:15px;
	display:block;
	clear:both;
	padding:17px 0 15px 0;
	color:#fff;
	background:#09b7ef url(../images/icon_arrow.png) no-repeat;
	background-position:95% 17px;
	width:328px;
	display:block;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	text-align:center;
}
.main_right p{
	line-height:24px !important;
}

span.text_date {
	display:inline-block;
}

span.text_time {
	display:inline-block;
	margin-left:33px;
}

span.space_line {
	display:block;
}

.group_btn {
	width:490px;
	clear:both;
	margin:0 auto;
	text-align:center;
}

.group_btn a {
	color:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	display:block;
	width:238px;
	text-align:center;
	font-size:18px;
	line-height:18px;
	padding:14px 0 12px 0;
	display:inline-block;
	margin:27px 0 90px 0;
}

a.back_btn {
	background:#7c7c7c url(../images/icon_back.png) no-repeat;
	background-position:9% 15px;
	float:left;
}

a.send_btn {
	background:#09b7ef url(../images/icon_arrow.png) no-repeat;
	background-position:91% 15px;
	margin-left:14px;
	float:right;
}

@media screen and (min-width:239px)and (max-width:960px) {
h4 {
	font-size:180%;
}

.common_contain .main_cotain {
	width:90%;
}

dt {
	width:100%;
	clear:both;
	text-align:left;
	background:none;
	height:auto;
	font-size:16px;
	line-height:150%;
	padding-bottom:0;
}

dd {
	width:100%;
	clear:both;
	height:auto;
	font-size:16px;
	line-height:150%;
	padding-bottom:3% !important;
	padding-top:0.5% !important;
}

dt div.paddingTop1, dd div.paddingTop1 {
	padding-top:0;
	line-height:140%;
}

dt.Height1 {
	height:auto !important;
	padding-bottom:0 !important;
}

dd.Height1 {
	height:auto !important;
	padding-bottom:3% !important;
	padding-top:0.5% !important;
}

dt.Height2, dd.Height2 {
	height:auto !important;
}

dt.Height3, dd.Height3 {
	height:auto !important;
}

dt div.paddingTop2 {
	padding-top:0 !important;
}

dt div.paddingTop3{
	width:100%;
	float:left;
}

dt div.paddingTop4{
	width:100%;
	float:left;
}

dt div.paddingTop5 span {
	display:inline;
}

dd div.paddingTop1 {
	padding-top:0;
}

.group_btn {
	width:100%;
	padding-top:0;
}

.group_btn a {
	width:60%;
	display:block;
	clear:both;
	margin:0 auto;
	padding:13px 10px 12px 0;
}

a.back_btn {
	margin:20px auto 50px;
	background-position:9% 50%;
	float:none;
}

a.send_btn {	
	margin-bottom:20px;
	background-position:91% 50%;
	float:none;
}
span.space_line {
	display:inline;
}
}

@media screen and (min-width:481px) and (max-width:736px) { 
.group_btn a {
	width:85%;
}

dd {
	padding-bottom:4% !important;
}

dd.Height1 {
	padding-bottom:4% !important;
}

}

@media screen and (min-width:239px) and (max-width:480px) {

h4 {
	font-size:160%;
}

dt div.paddingTop1, dd div.paddingTop1 {
	line-height:130%;
}

.group_btn a {
	width:85%;
}

dd {
	padding-bottom:6% !important;
}

dd.Height1 {
	padding-bottom:6% !important;
}

}

@media screen and (min-width:239px) and (max-width:300px) {
.group_btn a {
	font-size:14px;
}

}
